body {
    margin: 0;
    padding: 0;
}
header {
    background-color: burlywood;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
#login-form {
    background-color: rgb(141, 85, 28);
    border: 3px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 620px;
    margin: auto 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 802px) {
    #login-form {
        width: 100%;
        margin: auto;
    }
    input[type="text"],
    input[type="password"],
    label {
        font-size: 14px;
    }    
    header {
        font-size: 30px;
    }
}
@media (max-width: 180px) {
    input[type="text"],
    input[type="password"],
    label {
        font-size: 12px;
    }
    input[type="text"],
    input[type="password"],input[type="email"] {
        width: 30%;
    }  
    header {
        font-size: 24px; 
    }
}
